{#Extendemos la plantilla base#}
{% extends 'AppCorredoresRiojaBundle:Default:zonacorredores.html.twig'%}

{% block stylesheets %}
    {{parent()}}
    <link href="{{asset('bundles/appcorredoresrioja/css/formulario.css')}}" rel="stylesheet"media="all"type="text/css">
{% endblock %}
{% block body %}
    <h2>Registro</h2>
    <form action="{{path('registro')}}" method="post"{{form_enctype(formulario)}}>
        {{form_widget(formulario)}}
    </form>
    <div class="clear"></div>
{% endblock %}