{#Extendemos la plantilla base#}
{% extends '::base.html.twig'%}

{#Definimos los bloques#}
{#El bloque del título#}
{% block submenu %}
    <nav>
        <ul class="nav nav-pills pull-right">
            <li><a href="{{path('portada')}}">Portada</a></li>
            <li><a href="{{path('organizacion_perfil')}}">Perfil</a></li>
            <li><a href="{{path('nueva_carrera')}}">Añadir carrera</a></li>
            <li><a href="{{path('modificar_carrera')}}">Modificar carrera</a></li>
            {% if is_granted('ROLE_ORGANIZACION') %}
            <li><a href="{{path('organizaciones_logout')}}">{{app.security.getToken().getUser().getUsername()}} (Logout)</a></li>
            {% else %}
            <li><a href="{{path('organizaciones_login')}}">Login</a></li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}